body {
  font-family: 'Product Sans', sans-serif;
}

.btn-floating {
  font-family: monospace, monospace, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}

#up-btn {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#up-btn.shown {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cardhold.go-up {
  -webkit-animation: move-up .45s ease-in;
          animation: move-up .45s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader.hidden {
  -webkit-animation: wipe 0.9s 0.2s cubic-bezier(0.145, 0.865, 0.57, 0.94);
          animation: wipe 0.9s 0.2s cubic-bezier(0.145, 0.865, 0.57, 0.94);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

nav.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0s;
  transition: all 0s;
}

@-webkit-keyframes move-up {
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30vh) scale(1.25);
            transform: translateY(-30vh) scale(1.25);
  }
}

@keyframes move-up {
  50% {
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30vh) scale(1.25);
            transform: translateY(-30vh) scale(1.25);
  }
}

@-webkit-keyframes wipe {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: hidden;
  }
}

@keyframes wipe {
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: hidden;
  }
}

nav {
  opacity: .95;
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#8e44ad));
  background: linear-gradient(90deg, #3498db, #8e44ad);
  font-family: 'Product Sans Bold', sans-serif;
  height: calc(56px + env(safe-area-inset-top));
  line-height: 56px;
  padding: env(safe-area-inset-top) 0 0 0;
  -webkit-transition: all 0.375s 1.25s cubic-bezier(0.145, 0.865, 0.57, 0.94);
  transition: all 0.375s 1.25s cubic-bezier(0.145, 0.865, 0.57, 0.94);
  /* font-family: 'Baloo Bhai', sans-serif; */
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 64px;
    height: calc(64px + env(safe-area-inset-top));
  }
}

nav .nav-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#8e44ad));
  background: linear-gradient(90deg, #3498db, #8e44ad);
}

nav .nav-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-wrapper ul li a {
  font-size: 24px;
  padding: 0 22px;
}

nav .nav-wrapper ul li a:hover {
  background: #ffffff25;
}

nav .sidenav-trigger {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  padding: 0 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

nav .sidenav-trigger:hover {
  background: #ffffff25;
}

.navbar-fixed {
  height: calc(56px + env(safe-area-inset-top));
}

@media only screen and (min-width: 601px) {
  .navbar-fixed {
    height: calc(64px + env(safe-area-inset-top));
  }
}

.sidenav a {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.top-button {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
}

.brand-logo {
  padding: 0 32px !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.brand-logo:hover {
  background: #ffffff25;
}

.intro {
  padding-top: 30vh;
  -webkit-transform: translateY(-64px);
          transform: translateY(-64px);
  width: 100%;
  min-height: 120vh;
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#8e44ad));
  background: linear-gradient(90deg, #3498db, #8e44ad);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
}

#particles-js {
  opacity: 0;
  position: absolute;
  -webkit-transform: translateY(-30vh);
          transform: translateY(-30vh);
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

#particles-js.animated {
  -webkit-animation: show 1s 5s;
          animation: show 1s 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#particles-js canvas {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100vmax !important;
  z-index: 0;
}

.intro-photo-and-text {
  padding: 0 10%;
  min-height: 64vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

/* Animatins */
@-webkit-keyframes photo-holder-grow {
  100% {
    height: 230px;
    width: 230px;
  }
}
@keyframes photo-holder-grow {
  100% {
    height: 230px;
    width: 230px;
  }
}

@-webkit-keyframes photo-grow {
  100% {
    height: 200px;
    width: 200px;
  }
}

@keyframes photo-grow {
  100% {
    height: 200px;
    width: 200px;
  }
}

@-webkit-keyframes intro-text-1-grow {
  100% {
    font-size: 1.6em;
  }
}

@keyframes intro-text-1-grow {
  100% {
    font-size: 1.6em;
  }
}

@-webkit-keyframes intro-text-2-grow {
  100% {
    font-size: 1em;
  }
}

@keyframes intro-text-2-grow {
  100% {
    font-size: 1em;
  }
}

@-webkit-keyframes appear {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    min-width: 30%;
  }
}

@keyframes appear {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    min-width: 30%;
  }
}

@media all and (min-width: 721px) {
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
      flex-basis: 0%;
    }
    50% {
      opacity: 0;
      flex-basis: 50%;
    }
    100% {
      opacity: 1;
      flex-basis: 50%;
      min-width: 30%;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%;
    }
    50% {
      opacity: 0;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }
    100% {
      opacity: 1;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      min-width: 30%;
    }
  }
}

@-webkit-keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.intro-photo-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.photo-holder-container {
  height: 240px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-holder {
  z-index: 1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  height: 0px;
  width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-holder.animated {
  -webkit-animation: photo-holder-grow .5s 1.8s;
          animation: photo-holder-grow .5s 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.joon-photo {
  width: 0px;
  height: 0px;
  border-radius: 50%;
}

.joon-photo.animated {
  -webkit-animation: photo-grow .5s 2.6s;
          animation: photo-grow .5s 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.intro-description {
  opacity: 0;
  text-align: center;
  padding: 16px 0;
  /* font-family: 'Quicksand', sans-serif; */
  color: #fff;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.intro-description.animated {
  -webkit-animation: appear 1.75s 3.4s;
          animation: appear 1.75s 3.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.intro-text-1 {
  font-size: 1rem;
}

.intro-text-1.animated {
  -webkit-animation: intro-text-1-grow .5s 3.4s;
          animation: intro-text-1-grow .5s 3.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.intro-text-2 {
  font-size: 1rem;
}

.intro-text-2.animated {
  -webkit-animation: intro-text-2-grow .5s 3.4s;
          animation: intro-text-2-grow .5s 3.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media all and (max-width: 720px) {
  .intro-description {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.button-holder {
  opacity: 0;
}

.button-holder.animated {
  -webkit-animation: appear 1s 3.8s;
          animation: appear 1s 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button-holder a:hover {
  background: #ffffff25;
}

.projects-card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-card-link a {
  margin: 4px;
}

.col {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.container {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card-content h5 {
  margin-top: 0;
}

.section-heading {
  font-size: 2.25em;
  padding: .125em .25em;
  border-bottom: .06em solid #000;
}

.section-follow {
  margin: 10vh 0;
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#8e44ad));
  background: linear-gradient(90deg, #3498db, #8e44ad);
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.section-follow .container {
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.section-follow .fa-4x {
  padding: 10px 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 12px;
  margin: 0 4px;
}

.youtube-link:hover {
  color: #ff0000;
  background: #fff;
}

.github-link:hover {
  color: #333;
  background: #fff;
}

.gmail-link:hover {
  color: #0072C6;
  background: #fff;
}

.find-me-link-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-me-link {
  margin: 0 .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact {
  margin-bottom: 10vh;
}

#contact .card-panel p {
  margin: 0;
}

.page-footer {
  background: transparent;
}

.footer-copyright {
  background: -webkit-gradient(linear, left top, right top, from(#3498db), to(#8e44ad));
  background: linear-gradient(90deg, #3498db, #8e44ad);
}

.page-footer .footer-copyright {
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-flex > * {
  margin: 8px;
  color: #fff;
}

video {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */